html {
  scroll-behavior: smooth;
}

h1{
    color:red;
    font-size: 20px;
    text-align: center;
}

#Projects > h1{
  font-size : 30px;
  text-align: left;
}

#Projects > h2{
  font-size : 20px;
  text-align: left;
}

#Projects > p{
  font-size : 15px;
  text-align: left;
}



.gif-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  padding-bottom: 20px;
}

body {
  font-family: 'FranklinGothic URW', sans-serif;
  background-color: darkgrey;
  color: black;
  font-size:50px;
}

#footer1 {
  display: block;
  padding-top:20px;
  position: relative;
  width: 100%;
  background-color: #da3900;
  text-align: center;
  padding: 10px 0;
  color: white;
  font-size: 16px; /* smaller text helps reduce size */
}


  .wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}



* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

.dashboard-top {
      width: 100%;
      background-color: black;
      color: red;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .dashboard-title {
      font-size: 24px;
      font-weight: bold;
      color:red;
    }

    .dashboard-links {
  display: flex;
  flex-wrap: wrap;           /* allows links to wrap onto next line */
  align-items: center;
  gap: 10px;                 /* consistent spacing between links */
}

.dashboard-links a {
  color: red;
  text-decoration: none;
  font-size: 16px;
}


.dashboard-links a:hover {
  text-shadow: 0 0 5px red;
  color: red;
}

  /* text-shadow: 0 0 5px red, 0 0 20px white; */

.links{
    color:blanchedalmond;
}

.glow-red {
  box-shadow: 0 0 10px red;
  text-shadow: 0 0 10px red;
  color: red;
}

.glow-blue {
  box-shadow: 0 0 10px blue;
  text-shadow: 0 0 10px blue;
  color: blue;
}